<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="GenPhrase">
            <directory>./tests/GenPhrase</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">library</directory>
        </whitelist>
    </filter>
</phpunit>
